
# Creado por https://www.toptal.com/developers/gitignore/api/c
# Edite en https://www.toptal.com/developers/gitignore?templates=c

### C ###
# Requisitos previos
*.D

# Archivos de objeto
* .o
* .ko
* .obj
*.duende

# Salida del vinculador
* .leche
*.mapa
*.Exp

# Encabezados precompilados
* .gch
* .pch

# Bibliotecas
* .lib
*.a
*.la
* .lo

# Objetos compartidos (incluidas DLL de Windows)
* .dll
*.asi que
*.asi que.*
* .dylib

# Ejecutables
*.exe
*.afuera
* .app
* .i * 86
* .x86_64
*.maleficio

# Depurar archivos
* .dSYM /
* .su
* .idb
* .pdb

# Resultados de la compilación del módulo del kernel
*.modificación*
* .cmd
.tmp_versions /
módulos.orden
Module.symvers
Mkfile.old
dkms.conf

.vscode/

# Fin de https://www.toptal.com/developers/gitignore/api/c